src/main/app/weather-service-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <flow name="getCitiesByCountry-flow">
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[throw new java.lang.Exception('Could not find cities for selected country');]]></scripting:script>
        </scripting:component>
    </flow>
    <flow name="getWeather-flow">
        <parse-template location="tmpl/getWeatherResponse.tpl" doc:name="Parse Response"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[throw new java.lang.UnsupportedOperationException('Unsupported ');]]></scripting:script>
        </scripting:component>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception.causedBy(java.lang.RuntimeException)]" logException="false" doc:name="Catch Runtime Exceptions Strategy">
                <set-payload value="&lt;web:GetWeatherResponse xmlns:web=&quot;http://www.webserviceX.NET&quot;&gt;
	&lt;web:GetWeatherResult&gt;Custom Content&lt;/web:GetWeatherResult&gt;
&lt;/web:GetWeatherResponse&gt;" mimeType="application/xml" doc:name="Set Payload"/>
            </catch-exception-strategy>
            <catch-exception-strategy logException="false" doc:name="Catch Other Exceptions">
                <set-property propertyName="content-type" value="application/xml" doc:name="Property"/>
                <set-payload value="&lt;web:GetWeatherResponse xmlns:web=&quot;http://www.webserviceX.NET&quot;&gt;
	&lt;web:GetWeatherResult&gt;Please try again later&lt;/web:GetWeatherResult&gt;
&lt;/web:GetWeatherResponse&gt;" doc:name="Set Payload"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
